<kt-portlet-header [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
</kt-portlet-header>
<!-- <div class="row">
	<div class="col-xs-12 col-xl-3">
		<div class="home-card">
			<div class="card-image one">
				<img src="./assets/media/icons/d-visibility.svg" alt="">
			</div>
			<div class="card-data">
				<div class="stat">223019</div>
				<div class="title">Quizes</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-xl-3">
		<div class="home-card">
			<div class="card-image two">
				<img src="./assets/media/icons/d-tv.svg" alt="">
			</div>
			<div class="card-data">
				<div class="stat">223019</div>
				<div class="title">ADs</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-xl-3">
		<div class="home-card">
			<div class="card-image three">
				<img src="./assets/media/icons/d-analytics.svg" alt="">
			</div>
			<div class="card-data">
				<div class="stat">223019</div>
				<div class="title">Parables</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-xl-3">
		<div class="home-card">
			<div class="card-image four">
				<img src="./assets/media/icons/d-teamwork.svg" alt="">
			</div>
			<div class="card-data">
				<div class="stat">223019</div>
				<div class="title">ADs</div>
			</div>
		</div>
	</div>
</div> -->

<div class="row">
	<div class="col-lg-3">
		<div class="c one">
			<div class="val">{{usersCount}}</div>
			<div class="sub-val">No. of Users</div>
		</div>
	</div>
	<div class="col-lg-3">
		<div class="c two">
			<div class="val">{{advertCount}}</div>
			<div class="sub-val">Adverts</div>
		</div>
	</div>
	<div class="col-lg-3">
		<div class="c three">
			<div class="val">{{parablesCount}}</div>
			<div class="sub-val">Parables</div>
		</div>
	</div>
	<div class="col-lg-3">
		<div class="c four">
			<div class="val">{{quizCount}}</div>
			<div class="sub-val">No. of Quiz</div>
		</div>
	</div>
</div>

<kt-portlet>
	<kt-portlet-header title="Leaderscore board" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
	</kt-portlet-header>
	<kt-portlet-body>
		<div class="stage-history">
			<table class="table-view dashboard">
				<thead>
					<tr>
						<th>S/N</th>
						<th>Username</th>
						<th>Date</th>
						<th>Score</th>
					</tr>
				</thead>
				<tbody>
					<tr className="each-row" *ngFor="let user of leaders; let i = index;">
						<td>{{i+1}}</td>
						<td>{{user.name | titlecase}}</td>
						<td>{{user.email}}</td>
						<td>{{user.type ? user.type : 'not available'}}</td>
					</tr>
				</tbody>
			</table>
			<div class="empty-list text-center" *ngIf="!leaders || leaders.length === 0">
				<img src="./assets/media/icons/empty-list.png" alt="">
				<p>No leaderscore found.</p>
			</div>
		</div>

	</kt-portlet-body>
</kt-portlet>