:host {
	::ng-deep {
		ngb-tabset > .nav-tabs {
			display: none;
		}
	}
}

.home-card {
	height: 118px;
	width: 95%;
	margin: 1rem auto;
	display: flex;
	background-color: #ffffff;
	color: #333;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
	&:hover {
		box-shadow: 0 4px 4px 0 rgba(0,0,0,0.14), 0 1px 3px 0 rgba(0,0,0,0.12), 0 2px 1px -4px rgba(49, 49, 49, 0.2);
		cursor: pointer;
	}
	.card-image {
		width: 84px;
		display: flex;
		justify-content: center;
		align-items: center;
		&.one {background-color: #F44336;}
		&.two {background-color: #ff9800;}
		&.three {background-color: #30cc7b;}
		&.four {background-color: #2196F3;}
		img {
			display: block;
			width: 35px;
		}
	}
	.card-data {
		width: 80%;
		.stat {
			padding: 20px;
			font-size: 1.45rem;
			font-weight: 500;
		}
		.title {
			border-top: 1px solid rgba(160,160,160,0.2);
			font-size: 0.875rem;
			font-weight: 600;
			padding: 20px;
		}
	}
}

.c {
	// border-radius: 4px;
	box-shadow: 0 0 13px 0 rgba(82,63,105,.05);
	background-color: #fff;
	border-bottom: 1.25rem;
	padding: 1rem;
	height: 170px;
	margin-bottom: 1.75rem;
	@media(min-width: 992px) {
		padding: 1.75rem;
	}
	&.one{ border-bottom: 4px solid rgb(168, 56, 122);}
	&.two{ border-bottom: 4px solid rgb(65, 189, 162);}
	&.three{ border-bottom: 4px solid rgb(238, 139, 59);}
	&.four{ border-bottom: 4px solid rgb(182, 83, 165);}
	.val {
		font-size: 2rem;
		color: #646c9a;
		font-weight: 600;
	}
	.sub-val {
		color: #a7abc3;
		font-size: 1.125rem;
		margin-top: 0.25rem;
		font-weight: 400;
	}
}
.table-title {
	color: #48465b;
	padding: 1.25rem;
	font-size: 1.125rem;
	font-weight: 600;
	width: 100%;
	background: #fff;
    margin-bottom: 0;
}
.table-view {
	&.dashboard {
		thead {
			background-color: #FFF;
			font-weight: 500;
			tr {
				color: #48465b;
			}
		}
	}
}