<kt-portlet-header [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
</kt-portlet-header>
<div class="row">
	<div class="col-xs-12 col-xl-3">
		<div class="home-card">
			<div class="card-image one">
				<img src="./assets/media/icons/d-visibility.svg" alt="">
			</div>
			<div class="card-data">
				<div class="stat">223019</div>
				<div class="title">Quizes</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-xl-3">
		<div class="home-card">
			<div class="card-image two">
				<img src="./assets/media/icons/d-tv.svg" alt="">
			</div>
			<div class="card-data">
				<div class="stat">223019</div>
				<div class="title">ADs</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-xl-3">
		<div class="home-card">
			<div class="card-image three">
				<img src="./assets/media/icons/d-analytics.svg" alt="">
			</div>
			<div class="card-data">
				<div class="stat">223019</div>
				<div class="title">Parables</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-xl-3">
		<div class="home-card">
			<div class="card-image four">
				<img src="./assets/media/icons/d-teamwork.svg" alt="">
			</div>
			<div class="card-data">
				<div class="stat">223019</div>
				<div class="title">No. of Users</div>
			</div>
		</div>
	</div>
</div>