<div class="form-container with-bg">
	<div class="auth-logo">Parables</div>
	<div class="kt-login__body">
		<!--begin::Signin-->
		<div class="kt-login__form">
			<div class="kt-login__title ">
				<h4>Login</h4>
			</div>

			<kt-auth-notice></kt-auth-notice>

			<!--begin::Form-->
			<form class="kt-form" [formGroup]="loginForm" autocomplete="off">
				<div class="form-group">
					<div class="form-item auth">
						<input type="email" placeholder="Enter email address" name="email" id="email"
							formControlName="email" autocomplete="off" />
						<div *ngIf="isControlHasError('email','required')">
							<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
						</div>
						<div *ngIf="isControlHasError('email','email')">
							<strong>{{ 'AUTH.VALIDATION.INVALID_FIELD' | translate }}</strong>
						</div>
						<div *ngIf="isControlHasError('email','minLength')">
							<strong>{{ 'AUTH.VALIDATION.MIN_LENGTH_FIELD' | translate }} 3</strong>
						</div>
						<div *ngIf="isControlHasError('email','maxLength')">
							<strong>{{ 'AUTH.VALIDATION.MAX_LENGTH_FIELD' | translate }} 320</strong>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="form-item auth">
						<input type="password" placeholder="password" name="password" id="password"
							formControlName="password" autocomplete="off" />
						<div *ngIf="isControlHasError('password','required')">
							<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
						</div>
						<div *ngIf="isControlHasError('password','minLength')">
							<strong>{{ 'AUTH.VALIDATION.MIN_LENGTH_FIELD' | translate }} 3</strong>
						</div>
						<div *ngIf="isControlHasError('password','maxLength')">
							<strong>{{ 'AUTH.VALIDATION.MAX_LENGTH_FIELD' | translate }} 100</strong>
						</div>
					</div>
				</div>
				<div class="kt-login__actions central-btn">
					<a routerLink="/auth/forgot-password" class="d-block block mr-auto">Forgot password?</a>
					<button (click)="submit()"
					[ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}"
					id="kt_login_signin_submit"
					class="btn btn-primary btn-md btn-elevate kt-login__btn-primary">Login</button>
				</div>
			</form>
		</div>
	</div>
	<!--end::Body-->
</div>