<kt-portlet>
	<kt-portlet-header title="All Parables" [class]="'kt-portlet__head--md'" [viewLoading$]="loading$">
		<ng-container ktPortletTools>
			<a routerLink="/para/parables/manage" class="primary-button kt-margin-r-10" matTooltip="Add new parable">
				<i class="la la-plus"></i>
				<span class="kt-hidden-mobile">Add parable</span>
			</a>
		</ng-container>
	</kt-portlet-header>
	<kt-portlet-body>
		<div class="vendor-body">
			<div class="stage-history">
				<table class="table-view">
					<thead>
						<tr>
							<th>Title</th>
							<th>Translation</th>
							<th>Image</th>
							<th>Sound</th>
							<th></th>
						</tr>
					</thead>
					<tbody *ngIf="parables">
						<tr class="each-row" *ngFor="let parable of parables">
							<td>{{(parable.title.length > 43) ? (parable.title | slice:0:33)+'...' : (parable.title)}}</td>
							<td>{{(parable.translation.length > 43) ? (parable.translation | slice:0:33)+'...' : (parable.translation)}}
							</td>
							<td class="status" *ngIf="!parable.file">
								<span class="sentMOUProposal">{{parable.file.Location ? 'True' : 'not available'}}</span>
							</td>
							<td class="status" *ngIf="parable.file && parable.file.Location"><a href="{{parable.file.Location}}" target="_blank">{{(parable.file.Location.length > 33) ? (parable.file.Location | slice:0:33)+'...' : (parable.file.Location)}}</a>
							</td>
							<td class="status" *ngIf="parable.sound && parable.sound.Location"><a href="{{parable.sound.Location}}" target="_blank">{{(parable.sound.Location.length > 33) ? (parable.sound.Location | slice:0:33)+'...' : (parable.sound.Location)}}</a>
							</td>
							<td class="status" *ngIf="!parable.sound">
								<span class="sentMOUProposal">not available</span>
							</td>
							<td>
								<a routerLink="/para/parables/parable/{{parable._id}}" class="view">View</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="my-pagination mt-5 mb-4">
			<div class="pg">Page: <b>{{pageIndex + 1}}</b></div>
			<div class="btn-grp">
				<button mat-raised-button (click)="getPrev()" [disabled]="disablePrev">Previous</button>
				<button mat-raised-button (click)="getNext()" [disabled]="disableNext">Next</button>
			</div>
		</div>

	</kt-portlet-body>
</kt-portlet>