<kt-portlet>
	<kt-portlet-header [title]="pageTitle|titlecase" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
		<ng-container ktPortletTools>
			<a class="details-action options kt-margin-r-10" matTooltip="user status" *ngIf="userDetails" [matMenuTriggerFor]="menu">
				<i class="la la-cog"></i>
				&nbsp;
				<span class="kt-hidden-mobile">User status</span>
			</a>
			<mat-menu #menu="matMenu">
				<button mat-menu-item (click)="changeStatus()">{{userDetails && userDetails.status ? 'Suspend user' : 'Activate user'}}</button>
			</mat-menu>
		</ng-container>
	</kt-portlet-header>
	<kt-portlet-body>
		<div class="goback" (click)="goBack()">
			<img src="./assets/media/icons/backBtn.svg" alt="">
			<span>Back</span>
		</div>
		<div class="contact-body" *ngIf="userDetails">
			<div class="item-details maxed pt-0">
				<table class="ml-5 details-table">
					<tr class="each-data" *ngIf="userDetails.name">
						<td class="label">Name</td>
						<td class="value">{{ userDetails.name|titlecase }}</td>
					</tr>

					<tr class="each-data" *ngIf="userDetails.username">
						<td class="label">Email</td>
						<td class="value">
							<a href="mailto:{{ userDetails.username }}">{{	userDetails.username }}</a>
						</td>
					</tr>
					<tr class="each-data" *ngIf="userDetails.status !== null">
						<td class="label">User status</td>
						<td class="value status">
							<span class="scheduledMeeting">{{(userDetails.status ? 'Active' : 'Suspended') | uppercase}}</span>
						</td> 
					</tr>
					<tr class="each-data" *ngIf="userDetails.tel">
						<td class="label">Phone number</td>
						<td class="value">
							<a href="tel:{{userDetails.tel}}">{{	userDetails.tel }}</a>
						</td>
					</tr>

					<tr class="each-data" *ngIf="userDetails.name">
						<td class="label">User type</td>
						<td class="value status">
							<span class="convertedToContact">{{ userDetails.type | titlecase }}</span>
						</td>
					</tr>
				</table>
			</div>
			<div *ngIf="!userDetails" class="mt-5 please-data text-center">Please retry...</div>
		</div>
	</kt-portlet-body>
</kt-portlet>