<kt-portlet>
	<kt-portlet-header title="ADs" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
		<ng-container ktPortletTools>
			<a routerLink="/para/adverts/edit" class="primary-button kt-margin-r-10" matTooltip="Create ADs">
				<i class="la la-plus"></i>
				<span class="kt-hidden-mobile">Create ADs</span>
			</a>
		</ng-container>
	</kt-portlet-header>
	<kt-portlet-body>
		<div class="stage-history">
			<table class="table-view">
				<thead>
					<tr>
						<th>Title</th>
						<th>Link</th>
						<th>Image</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr className="each-row" *ngFor="let ad of adverts">
						<td>{{(ad.title.length > 43) ? (ad.title | slice:0:33)+'...' : (ad.title)}}</td>
						<td><a href="{{ad.link}}" target="_blank">{{(ad.link.length > 43) ? (ad.link | slice:0:43)+'...' : (ad.link)}}</a></td>
						<td class="status"><a href="{{ad.image.Location}}" target="_blank">{{(ad.image.Location.length > 43) ? (ad.image.Location | slice:0:43)+'...' : (ad.image.Location)}}</a></td>
						<td><a routerLink="/para/adverts/{{ad._id}}" class="view">View</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="my-pagination mt-5 mb-4">
			<div class="pg">Page: <b>{{pageIndex + 1}}</b></div>
			<div class="btn-grp">
				<button mat-raised-button (click)="getPrev()" [disabled]="disablePrev">Previous</button>
				<button mat-raised-button (click)="getNext()" [disabled]="disableNext">Next</button>
			</div>
		</div>

	</kt-portlet-body>
</kt-portlet>